In [1]:
import pandas as pd
listee = [['Anastasia', 12.5, '1', 'yes','a'], ['Dima', 9, 3,'no','b'], ['katherine', 16.5, 2, 'yes', 'c'], ['james', "np.nan",3,'no','d'],
       ['Emily', 9,2,'no' 'e'], ['Micheal', 20, 3, 'yes','f'],['Mathew', 14.5, 1, 'yes', 'g'], ['Laura', 'np.nan', 1, 'no','h'],
        ['Kevin', 8, 'np.nan', 'np.nan', 'i'], ['Jonas',19, 1, 'yes', 'j'], ['Elias', 20,3,'yes', 'k'], ['Myriam',16,2, 'yes','l']]
df = pd.DataFrame(listee, columns =['name', 'score', 'attemps','qualify','labels'])
print(df)

         name   score attemps qualify labels
0   Anastasia    12.5       1     yes      a
1        Dima       9       3      no      b
2   katherine    16.5       2     yes      c
3       james  np.nan       3      no      d
4       Emily       9       2     noe   None
5     Micheal      20       3     yes      f
6      Mathew    14.5       1     yes      g
7       Laura  np.nan       1      no      h
8       Kevin       8  np.nan  np.nan      i
9       Jonas      19       1     yes      j
10      Elias      20       3     yes      k
11     Myriam      16       2     yes      l

In [2]:
#question1
df.head(3)

        name score attemps qualify labels
0  Anastasia  12.5       1     yes      a
1       Dima     9       3      no      b
2  katherine  16.5       2     yes      c

In [4]:
#question 2
ds=df[['name', 'score']]
ds

         name   score
0   Anastasia    12.5
1        Dima       9
2   katherine    16.5
3       james  np.nan
4       Emily       9
5     Micheal      20
6      Mathew    14.5
7       Laura  np.nan
8       Kevin       8
9       Jonas      19
10      Elias      20
11     Myriam      16

In [5]:
#question3
df=df.drop('attemps', axis=1)
print(df)

         name   score qualify labels
0   Anastasia    12.5     yes      a
1        Dima       9      no      b
2   katherine    16.5     yes      c
3       james  np.nan      no      d
4       Emily       9     noe   None
5     Micheal      20     yes      f
6      Mathew    14.5     yes      g
7       Laura  np.nan      no      h
8       Kevin       8  np.nan      i
9       Jonas      19     yes      j
10      Elias      20     yes      k
11     Myriam      16     yes      l

In [6]:
#question4
df["sucess"]=(df["score"]>10)

TypeError: '>' not supported between instances of 'str' and 'int'

In [7]:
df.to_csv("myDate")